<script>

userActive = function() { $.ajax({
    type: 'POST',
    url: '/channels-user-active',
    dataType: "json",
    data: "channel_id=<%= @channel.id %>",
    success: function(response) {
      $("#member-list").empty();
      $.each(response.users, function(index, value) {
        $("#member-list").append(
          '<li><img src="http://graph.facebook.com/'
          +value.user.uid+
          '/picture" />'
          +value.user.name+'</li>'
        );
      });
    }
  });
};

$(function() {
  var faye = new Faye.Client('http://128.237.116.88:9292/faye');
  faye.subscribe("/channels/<%= @channel.name %>", function(data) {
    eval(data);
  });
  
  setInterval(userActive, 1000);

  
});
</script>
<div class="container">
<div id="chat-sidebar">
<div id="chat-info">

  <p id="notice"><%= notice %></p>
  <h2><%= @channel.name %></h2>
  <span id="school"><%= @channel.school_id %></span>
  <%= link_to 'Edit', edit_channel_path(@channel) %>

</div>
<div id="chat-members">
  Participants:
  <ul id="member-list">

  </ul>
</div>
</div>

<div id="chat-window">
  <ul id="chat">

  </ul>
  <div id="chat-input">
  <%= form_for Message.new, :remote => true do |f| %>
    <%= f.hidden_field :channel_name, :value => @channel.name %>
    <%= f.text_field :content, :autocomplete => "off" %>
    <!--<%= f.submit "Send" %>-->
  <% end %>
  </div>
</div>
</div>
