<script>

userActive = function() { $.ajax({
    type: 'POST',
    url: '/channels-user-active',
    dataType: "json",
    data: "channel_id=<%= @channel.id %>",
    success: function(response) {
      $("#chat-members").empty();
      $.each(response.users, function(index, value) {
        $("#chat-members").append("<div>" + value.user.name + "</div>");
      });
    }
  });
};

$(function() {
  var faye = new Faye.Client('http://128.237.116.88:9292/faye');
  faye.subscribe("/channels/<%= @channel.name %>", function(data) {
    eval(data);
  });
  
  setInterval(userActive, 1000);

  
});
</script>
<div class="container">
<div id="chat-info">

  <p id="notice"><%= notice %></p>
  <p>
    <b>Name:</b>
    <%= @channel.name %>
  </p>
  <p>
    <b>School:</b>
    <%= @channel.school_id %>
  </p>
  <%= link_to 'Edit', edit_channel_path(@channel) %> |
  <%= link_to 'Back', channels_path %>

</div>


<div id="chat-window">
  <ul id="chat">

  </ul>
  <div id="chat-input">
  <%= form_for Message.new, :remote => true do |f| %>
    <%= f.hidden_field :channel_name, :value => @channel.name %>
    <%= f.text_field :content, :autocomplete => "off" %>
    <!--<%= f.submit "Send" %>-->
  <% end %>
  </div>
</div>
<br /><br /><br /><br />
Members:
<br />
<div id="chat-members">

</div>
</div>
