<script>
$(function() {
  var faye = new Faye.Client('http://128.237.116.88:9292/faye');
  faye.subscribe("/channels/<%= @channel.name %>", function(data) {
    eval(data);
  });
});
</script>
<div class="container">
<div id="chat-info">

  <p id="notice"><%= notice %></p>
  <p>
    <b>Name:</b>
    <%= @channel.name %>
  </p>
  <p>
    <b>School:</b>
    <%= @channel.school_id %>
  </p>
  <%= link_to 'Edit', edit_channel_path(@channel) %> |
  <%= link_to 'Back', channels_path %>

</div>
<div id="chat-members">
</div>

<div id="chat-window">
  <ul id="chat">

  </ul>
  <div id="chat-input">
  <%= form_for Message.new, :remote => true do |f| %>
    <%= f.hidden_field :channel_name, :value => @channel.name %>
    <%= f.text_field :content, :autocomplete => "off" %>
    <!--<%= f.submit "Send" %>-->
  <% end %>
  </div>
</div>
</div>
