<script>
function sortName(a,b){  
  if (a.user.name == b.user.name){
   return 0;
  }
  return a.user.name > b.user.name ? 1 : -1;  
}; 
$(function() {
  var initialChannel = "<%= @channel.name %>";
  var faye = new Faye.Client('http://http://fayeserv.herokuapp.com/faye');
  <% current_user.channels.each do |channel| %>
    faye.subscribe("/channels/<%= channel.id %>", function(data) {
      eval(data);
    });
    setInterval(function() { $.ajax({
      type: 'POST',
      url: '/channels-user-active',
      dataType: "json",
      data: "channel_id=<%= channel.id %>",
      success: function(response) {
        $("#<%= channel.name %> .member-list").empty();
        var users = response.users.sort(sortName);
        $.each(response.users, function(index, value) {
          $("#<%= channel.name %> .member-list").append(
            '<li><img src="http://graph.facebook.com/'
            +value.user.uid+
            '/picture" />'
            +value.user.name+'</li>'
          );
        });
      }
    });}, 1500);
  <% end %>
  
  
  $(".chat-channel").hide();
  $("#" + initialChannel).show();
  $("#tab-" + initialChannel).addClass('active');
});

$(".close-tab").live('click', function(event) {
  event.stopPropagation();
});

$(".tab").live('click', function(event) {
  $(".tab").removeClass("active");
  $(this).removeClass('alert').addClass("active");
  event.preventDefault();
  $(".chat-channel").fadeOut(250);
  $("#" + $(this).attr('channel')).fadeIn(250);
});
</script>
<div class="container">
<%= render :partial => "channel", :collection => current_user.channels %>
</div>
