<li>
  <span class="new-flash">&nbsp;</span>
  <img src="http://graph.facebook.com/<%= current_user.uid %>/picture" />
  <span class="name"><%= current_user.name %></span>
  <span class="created_at"><%= message.created_at.strftime("%H:%M") %></span>
  <p>
  
    <% if /\$.*\$/.match(message.content) %>
      <%= Message.convert_to_latex(message.content).html_safe %>
    <% elsif /\Ahttp.*(jpeg|jpg|gif|png)\Z/.match(message.content) %>
      <a href="<%= message.content %>" "target=_blank"><img class="embedded" src='<%= message.content %>' /></a>
    <% else %>
      <%= message.content %>
    <% end %>
  </p>

</li>
