<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "layout" %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'http://128.237.116.88:9292/faye.js' %>
    <%= javascript_include_tag 'rails' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="flash"><!--<% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>-->
    </div>
    <div id="page-header">
      <h1>discourse</h1>
      <%= link_to "logout", "/logout", :method => :delete, :id => "logout-link" %>
      <%= render :partial => "partials/tabs" %>
    </div>
    <div id="page-content">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
